.navbar-collapse {
  &.show {
    position: absolute;
    width: 100vw;
    top: 71px;
    left: 0;
    background-color: #fff;
  }

  .navbar-nav {
    @media screen and (min-width: 992px) {
      align-items: center;
    }
  }
}

.nav-link {
  &.navbar-link {
    @media screen and (max-width: 991px) {
      padding: 12px;
    }

    color: #088972;
    font-weight: bold;
    position: relative;

    &.active {
      @media screen and (max-width: 991px) {
        background-color: #088972;
        color: #fff !important;
      }

      @media screen and (min-width: 992px) {
        color: #088972 !important;
      }

      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #088972;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      color: #088972;

      &::before {
        @media screen and (min-width: 992px) {
          opacity: 1;
        }
      }
    }
  }
}

.nav-item {
  .btn-group {
    @media screen and (max-width: 991px) {
      width: 100%;
      flex-flow: wrap;
    }

    @media screen and (min-width: 992px) {
      position: static;
      height: 81px;
      align-items: center;
    }

    .btn {
      @media screen and (max-width: 991px) {
        padding: 12px;
        text-align: left;
      }

      @media screen and (min-width: 992px) {
        padding: 8px;
      }

      border: none;
      color: #088972;
      font-weight: bold;
      border-radius: 0;

      &.dropdown-toggle {
        @media screen and (max-width: 991px) {
          width: 40px;
          flex: inherit;
          background-color: #088972;
          color: #fff;
        }

        &::after {
          @media screen and (max-width: 991px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }

          @media screen and (min-width: 992px) {
            position: relative;
            left: 0;
          }
        }

        padding-left: 0;
      }
    }

    .dropdown-menu {
      @media screen and (min-width: 992px) {
        flex-flow: wrap;
        top: 81px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        background-color: #fff;
      }

      &.show {
        @media screen and (min-width: 992px) {
          display: flex;
          padding-top: 10px;
        }
      }

      &::before,
      &::after {
        @media screen and (min-width: 992px) {
          content: "";
          height: 100%;
          width: 100vw;
          position: absolute;
          top: 0;
          box-shadow: 0px 15px 10px -15px rgba(100, 100, 111, 0.2);
          background-color: #fff;
          z-index: -1;
        }
      }

      &::before {
        @media screen and (min-width: 992px) {
          left: -90%;
        }
      }

      &::after {
        @media screen and (min-width: 992px) {
          right: -90%;
        }
      }

      width: 100%;
      padding: 0;
      border-radius: 0;
      border: 0;

      li {
        @media screen and (min-width: 992px) {
          flex-basis: 25%;
        }
      }
    }

    .dropdown-item {
      @media screen and (max-width: 991px) {
        padding: 5px 0;
      }

      padding: 2px 0;
      color: #088972;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.accordion-container {
  @media screen and (max-width: 991px) {
    flex-flow: column;
    width: 100%;
  }

  @media screen and (min-width: 992px) {
    flex-wrap: wrap;
    padding: 0 12px;
  }

  display: flex;
}

.dropdown-parent-list {
  @media screen and (min-width: 992px) {
    padding-bottom: 20px;
  }

  &:first-child {
    .accordion-button {
      @media screen and (max-width: 991px) {
        border-top: 1px solid #088972;
      }
    }
  }
}

.dropdown-list {
  @media screen and (max-width: 991px) {
    padding: 12px;
  }

  list-style: none;
  padding-left: 0;
}

.dropdown-category {
  color: #088972;
  text-transform: uppercase;
  font-weight: bold;

  &.accordion-button {
    @media screen and (max-width: 991px) {
      color: #088972;
      border-bottom: 1px solid #088972;
      padding: 12px;
      justify-content: space-between;
    }

    &:not(.collapsed) {
      @media screen and (max-width: 991px) {
        background-color: #088972;
        color: #fff;
      }

      svg {
        @media screen and (max-width: 991px) {
          transform: rotate(180deg);
        }
      }
    }

    &::after {
      content: none;
    }
  }

}

.dropdown-link {
  color: #088972;
  text-decoration: none;

  &:hover {
    color: #088972;
  }
}
