.accordion-item-content {
  display: none;

  @media screen and (min-width: 992px) {
    .accordion-item-content {
      display: block;
    }
  }

  &.active {
    display: block;
  }
}

.accordion-item-button {
  @media (min-width: 768px) {
    display: none;
  }
}
